.v-table > .v-table__wrapper > table > tbody > tr > td, th {
  padding: 4px 8px !important;
  border: thin solid rgba(var(--v-border-color), var(--v-border-opacity));
  height: auto !important;
}

.v-table > .v-table__wrapper > table > tbody > tr:not(.v-data-table__tr) {
  display: none;
}

.v-table > .v-table__wrapper > table > tbody > tr > th {
  // To set the height of the table header
  height: 40px !important;
}
